In [2]:
import pandas as pd
df = pd.read_excel("Supply chain logisitcs problem.xlsx")
df

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight
0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.300000
1,1.447158e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.940000
2,1.447139e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.200000
3,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.160000
4,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9210,1.447305e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9211,1.447319e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,339,2.354118
9212,1.447322e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,245,0.294265
9213,1.447145e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683430,PLANT03,PORT09,278,2.480000
9214,1.447328e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,PLANT03,PORT09,317,1.960000

In [3]:
df.head(10)

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight
0,1.447296e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,808,14.30
1,1.447158e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3188,87.94
2,1.447139e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2331,61.20
3,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,847,16.16
4,1.447364e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2163,52.34
5,1.447351e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,3332,92.80
6,1.447320e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,1782,46.90
7,1.447158e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,427,2.86
8,1.447219e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,1291,26.60
9,1.447398e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1700106,PLANT16,PORT09,2294,62.20

In [4]:
less_than_300 = df[df['Unit quantity']<= 300]
less_than_300

,Order ID,Order Date,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight
13,1.447257e+09,2013-05-26,PORT09,V44_3,1,CRF,3,0,V55555_53,1697884,PLANT16,PORT09,280,7.800000
358,1.447261e+09,2013-05-26,PORT04,V44_3,2,CRF,3,0,V55555_2,1658532,PLANT03,PORT09,268,0.409636
371,1.447305e+09,2013-05-26,PORT04,V44_3,2,CRF,3,0,V55555_2,1696757,PLANT03,PORT09,299,2.177285
375,1.447186e+09,2013-05-26,PORT04,V44_3,2,CRF,3,0,V55555_2,1696758,PLANT03,PORT09,244,0.059972
381,1.447202e+09,2013-05-26,PORT04,V44_3,2,CRF,3,0,V55555_2,1696758,PLANT03,PORT09,263,1.139477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9207,1.447288e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,PLANT03,PORT09,255,0.351577
9208,1.447350e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683424,PLANT03,PORT09,267,2.460000
9209,1.447149e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,242,2.354118
9212,1.447322e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683388,PLANT03,PORT09,245,0.294265
9213,1.447145e+09,2013-05-26,PORT04,V444_1,1,DTD,5,0,V55555555555555_8,1683430,PLANT03,PORT09,278,2.480000

In [5]:
less_than_300_count = less_than_300.shape[0]
less_than_300_count

1340

In [6]:
total_rows = df.shape[0]
less_than_300_count / total_rows * 100

14.541508410200759

In [7]:
#average weight per Service Level 
df.groupby(['Service Level'])['Weight'].mean()

Service Level
CRF    41.103810
DTD    12.946981
DTP    19.342162
Name: Weight, dtype: float64

In [8]:
total = df.groupby(['Customer','Order Date']).sum()

In [9]:
import os

In [10]:
print('cpath: ',os.getcwd())

cpath:  C:\Users\ADMIN\c_mypanda